{% extends "base_template.html" %}
{% block title %}Labrys - Feed{% endblock %}
{% block content %}
      <h2>feed</h2>
      {% if logged_in %}
      <div id="new_message">
        <form action="/feed" method="post" enctype="multipart/form-data">
          <p id="new_message_text">
            <textarea name="content" placeholder="post a new message" required></textarea>
          </p>
          <p id="new_message_buttons">
            <span>
              <label for="attachments" class="attachments_label">select attachments</label>
              <input type="file" id="attachments" name="attachments" multiple onchange="update_file_list()"/>
              <button type="button" onclick="remove_attachments()">remove attachments</button>
            </span>
            <button type="submit">post</button>
          </p>
          <p id="attached_files"></p>
        </form>
      </div>
      {% endif %}
      <div id="messages">
        {% if messages|length == 0 %}
        <p>no posts</p>
        {% else %}
        {% for message in messages %}
        <div class="message">
          <div class="message_left_column">
            <img src="{{ avatar_url }}" class="message_avatar"/>
          </div>
          <div class="message_right_column">
            <div class="message_header">
              <p class="message_display_name">{{ display_name }}</p>
              <p class="message_publish_datetime">{{ message['publish_datetime']|formatdatetime }}</p>
            </div>
            <p class="message_text">{{ message['content']['text'] }}</p>
            {% if message['content']['attachments']|length > 0 %}
            <p class="message_attachments">
              {% for attachment in message['content']['attachments'] %}
              {% if attachment['content_type'] == 'image' %}
              <a href="/api/feed_attachments/{{ attachment['file_name'] }}"><img src="/api/feed_attachments/{{ attachment['file_name'] }}"/></a>
              {% elif attachment['content_type'] == 'video' %}
              <video controls src="/api/feed_attachments/{{ attachment['file_name'] }}" width="250px">
                your browser does't support the <code>video</code> element. download this file <a href="/api/feed_attachments/{{ attachment['file_name'] }}">here</a>.
              </video>
              {% elif attachment['content_type'] == 'audio' %}
              <audio controls src="/api/feed_attachments/{{ attachment['file_name'] }}">
                your browser does't support the <code>audio</code> element. download this file <a href="/api/feed_attachments/{{ attachment['file_name'] }}">here</a>.
              </audio>
              {% else %}
              <a href="/api/feed_attachments/{{ attachment['file_name'] }}">{{ attachment['file_name'] }}</a>
              {% endif %}
              {% endfor %}
            </p>
            {% endif %}
            <p class="message_links"><a href="/feed/{{ message['id'] }}">view post</a></p>
          </div>
        </div>
        {% endfor %}
        {% if next_last_seen %}
        <p>
          <a href="/feed?last_seen={{ next_last_seen }}">more</a>
        </p>
        {% endif %}
        {% endif %}
      </div>
{% endblock %}
