<html>
  <body>
    <p>The site <a href="{{ requester }}">{{ requester }}</a> is asking you to identify yourself.</p>
    <p>Upon authentication, it will redirect you to <a href="{{ return_address }}">{{ return_address }}</a>.</p>
    <p>If you wish to do this, please enter your password below.</p>
    <form action="/identity/authenticate" method="post">
      <input type="password" name="password" />
      <input hidden name="requester" value="{{ requester }}" />
      <input hidden name="state" value="{{ state }}" />
      <input hidden name="return_address" value="{{ return_address }}" />
      <input type="submit" />
    </form>
  </body>
</html>
